.massage {
  color: red;
  letter-spacing: 1px;
  transition: 0.3s;
}

.checked-email {
  border: 1px solid red;
}

.checked-pass {
  border: 1px solid red;
}

.re-pass {
  border: 1px solid red;
}

.form-data {
  color: rgb(59, 59, 216);
  font-size: 20px;
  border: 1px solid red;
  padding: 10px;
}

.not-checked {
  border-color: red;
  transition: 0.4s;
}

@media screen and (min-width: 480px) {
  body {
    background-color: rgb(204, 204, 123);
    transition: 0.4s;
  }
}

@media screen and (max-width: 470px) {
  body {
    background-color: cyan;
    transition: 0.5s;
  }
}
